body {
    font-family: 'Nanum Barun Gothic';
    font-weight: normal;
}


#outermost-container {
    display: flex;
    flex-direction: column;
}

#outermost-container::before, #outermost-container::after {
    height: 100%;
    content: ' ';
    position: fixed;
    top: 0;
    width: 16.25%;
    background-image: linear-gradient(to top right, rgb(241,199,91), rgb(255,228,158));
}

@media (max-width: 960px) {
    #outermost-container::before, #outermost-container::after {
        width: 5%;
    }
}

#outermost-container::before {
    left: 0;
}

#outermost-container::after {
    right: 0;
}

#outermost-container > * {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 1200px;
}

@media (max-width: 960px) {
    #outermost-container > * {
        width: 85%;
    }
}

#cover {
    display: flex;
    flex-direction: column;
}

#honey_img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 85%;
    max-width: 300px;
}

@media (max-width: 960px) {
    #honey_img {
        margin-top: 50px;
    }
}

#honey_title {
    color: black; /*rgb(250, 175, 77);*/
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 28px;
    font-style: italic;
    font-variant: bold;
    font-weight: 700;
    line-height: 26.4px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#cover p {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    font-variant: bold;
    line-height: 26.4px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}


#description {
    display: flex;
    flex-direction: column;
}

#description > * {
    width: 85%;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 960px) {
    #description > * {
        width: 100%;
        max-width: 100%;
    }
}

#description p {
    line-height: 26.4px;
}

#description .lead {
    font-size: 130%;
}

#description small {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(237, 192, 75);
    font-weight: 700;
    margin-top: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    word-break: keep-all;
}

@media (max-width: 960px) {
    #description small {
        width: 90%;
    }
}

.question-div, .answer-div {
    margin: auto;
    display: flex;
}

.question, .answer, .answer-result {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    word-break: keep-all;
}

.question {
    margin-top: 70px;
    font-size: 150%;
    text-align: center;
}

.answer {
    min-height: 50px;
    margin-top: 30px;
    border: 2px solid black;
    padding: 5px;
}

.answer-result {
    text-align: center;
    border: 0px;
    min-height: 50px;
    margin-top: 30px;
}

@media (max-width: 960px) {
    .question, .answer, .answer-result {
        width: 100%;
        font-size: 100%;
    }
}

#finish {
    display: flex;
    flex-direction: column;
}

#finish p {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#outro {
    font-weight: 700;
}

#submit {
    width: 270px;
    height: 81px;
    padding-left: 8px;
    padding-bottom: 8px;
    border: none;
    background: url('/static/button.png') no-repeat scroll 0 0 transparent;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

