<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[빼빼로데이 특집] 사랑하는 당신의 연인에게 진심을 전해주세요.">
    <title>How I love my honeybun</title>
    <link rel="stylesheet" href="{{url_for('static', filename='honeybun.css')}}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
</head>
<body>
    <div id="outermost-container">
        <div id="cover">
            <img id="honey_img" src="{{url_for('static', filename='honey.png')}}" />
            <div id="honey_title">How I love my honeybun,</div>
            <p>With NALIDA</p>
        </div>
    {% if not answers %}
        <div id="description">
            <p class="lead">안녕하세요! 날리다 : 나를 알리다 팀입니다.</p>
            <p>저희는 청년들이 스스로에 대해 심층적으로 이해할 수 있도록 도와주는 자기이해 워크샵을 기획하고 진행하는 프로젝트 팀이에요. 이번에는 빼빼로데이를 맞아 특별한 이벤트를 준비했답니다.</p>
            <p>여러분은 연인에 대해 얼마나 알고 계신가요? 사랑하는 나의 연인은 나를 어떻게 바라보고 있을까요? 아래의 링크를 통해 연인을 떠올리며 문제를 풀어 보고, 연인과 함께 그 결과에 대해 이야기를 나누어 봅시다.</p>
            <small>*Honeybun: [명] 애인, 연인을 부르는 애칭</small>
        </div>
    {% endif %}
        <form action="/save" id="form" method="post">
            {% for question in questions %}
                {% set outer_loop = loop %}
                <div>
                    <div class="question-div">
                        <p class="question">Q{{loop.index}}. {{question.question}}</p>
                        {% if not answers and question.example %}
                            <small>{{question.example}}</small>
                        {% endif %}
                    </div>
                    <div class="answer-div">
                        {% if answers %}
                            {% if loop.index <= answers|length %}
                                <p class="answer-result">{{answers[loop.index-1]}}</p>
                            {% endif %}
                        {% else %}
                            {% if question.type == 'text' %}
                                <textarea class="answer" name="q{{loop.index}}"></textarea>
                            {% elif question.type == 'select' %}
                                {% for option in question.options %}
                                    <div>
                                        <input type="radio" name="q{{outer_loop.index}}_o{{loop.index}}"/> {{option}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </form>
        <div id="finish">
            {% if answers %}
                <p>당신의 Honeybun의 각별한 마음이 느껴졌나요?</p>
            {% else %}
                <p>질문에 모두 대답해 주셨군요! Honeybun에 대한 각별한 마음이 느껴졌어요!</p>
            {% endif %}
            <p id="outro">버튼을 눌러 당신의 마음을 honeybun에게 전해주세요.</p>
            {% if answers %}
                <form action="/" id="form2"></form>
                <button id="submit" type="submit" form="form2" href="/">답변 작성하기</button>
            {% else %}
                <button id="submit" type="submit" form="form">답변 제출하기</button>
            {% endif %}
        </div>
    </div>
</body>
